# config file
settings.cfg

# some test
learn.py

# Editors
.vscode
.idea
database.dv
database.db-journal

# Docker
docker-compose.yml

# Byte-compiled
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/
test.db

# Flask stuff:
instance/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
