[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
flake8 = "*"

[packages]
flask = "*"
requests = "*"
apscheduler = "*"
pytelegrambotapi = "*"
toml = "*"

[requires]
python_version = "3"
