name: Lint, test, deploy

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # complete flake8 check
        flake8 . --count --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pip install pytest
        python -m pytest
  deploy:
    needs: build
    runs-on: ubuntu-18.04
    steps:
    - name: Deploy to test server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.host }}
        username: root
        key: ${{ secrets.key }}
        script: cd zaobot/zaobot && git pull